@font-face {
  font-family: "Gilroy";
  src: url("font/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("font/Gilroy-Regular.woff2") format("woff2"), url("font/Gilroy-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: "Gilroy";
  src: url("font/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("font/Gilroy-Medium.woff2") format("woff2"), url("font/Gilroy-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: "Gilroy";
  src: url("font/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("font/Gilroy-Semibold.woff2") format("woff2"), url("font/Gilroy-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
}

@font-face {
  font-family: "Gilroy";
  src: url("font/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("font/Gilroy-Bold.woff2") format("woff2"), url("font/Gilroy-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
}

* {
  box-sizing: border-box;
  font-family: Gilroy;
}

html, body {
  font-size: 20px;
  line-height: 1.3;
  font-family: Gilroy;
  margin: 0;
}

.container {
  max-width: 1240px;
  margin: auto;
  padding: 0 20px;
}
.header, .footer {
  position: relative;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header__flex {
  background-position: center;
  display: flex;
  justify-content: space-between;
}

.header__auth {
  text-align: center;
  background: rgba(255,255,255,0.6);
  padding: 20px;
}
.header__auth {
  width: 250px;
}
.header__auth-text {
margin-top: 5px;
  font-size: 16px
}
.header__auth-name {
  font-weight: 700;
  font-size: 20px;
}

.header__auth-mail {
  font-weight: 600;
}

.header__auth-center .header__auth-text {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
}

.header__auth-center {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__auth-photo img {
  border-radius: 50%; 
}

.feed__spinner {
  position: absolute;
  width: 50px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -55px;
}

.feed {
  position: relative;
}

.feed__title {
  font-size: 40px;
  margin-top: 50px;
}

.feed__card {
  display: flex;
  border: 1px solid rgba(0,0,0,0.6);
  border-radius: 25px;
  margin-bottom: 40px;
}

.feed__left {
  min-width: 15%;
  width: 13%;
  margin-right: 30px;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.6);
}
.feed__right {
   width: 85%;
}
.feed__avatar {
  width: 100%;
}

.feed__avatar img {
  border-radius: 50%;
}
.feed__author {
  font-size: 18px;
}
.feed__author a {
  font-weight: 600;
  color: #000;
  font-size: 22px;
}
.feed__author div {
  margin: 10px 0;
}
.feed__likes, .popup__likes {
  display: flex;
  align-items: center;
  background: #fff;
  padding: 15px 0;
  justify-content: center;
  border-radius: 25px;
}
.feed__likes button, .popup__likes button {
  width: 32px;
  height: 25px;
  padding: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  margin-right: 20px;
} 
.feed__likes button img, .popup__likes button img {
  object-fit: contain;
  transition: .3s;
}

.feed__author {
  margin: 10px 0;
}
.feed__photo {
  display: block;
  height: 400px;
  margin: 20px 20px 0 0;
}
.feed__photo img {
  object-fit: contain;
}

.footer {
  min-height: 100px;
  margin-top: 60px;
}

.footer__links {
  padding: 20px;
  text-align: center;
  font-weight: 500;
  background: rgba(255,255,255,.6);
  width: fit-content;
  margin: auto;
  min-height: 100px;
  display: flex;
  align-items: center;
}

.footer__links a {
  color: #000;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  display: flex;
  justify-content: center;
  padding-top: 20px;
  animation: fadeIn .3s ease-out;
  z-index: 9;
}

.popup__self {
  width: 90%;
}

.popup__flex {
display: flex;
justify-content: space-between;
}

.popup__author {
margin-left: 20px;
  color: #fff;
  text-align: center;
  padding-top: 20px;
}
.popup__author-link a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-top: 5px;
}
.popup__author-link div {
   margin: 5px 0;
}
.popup__author-link a:hover {
  text-decoration: underline;
}
.popup__date {
  font-size: 18px;
  margin-top: 5px;
}

.popup__author-img {
  width: 150px;
  border-radius: 50%;
  margin: auto;
}
.popup__author-img img {
border-radius: 50%;   
}

.popup__img {
  height: 90vh;
   width: calc(100% - 170px);
   position: relative;
}
.popup__img img {
  object-fit: contain;
}

.popup__likes {
border-radius: 5px;
}

.popup__bottom {
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  background: #fff;
  height: calc(10vh - 20px);
}

.popup__descr {
  max-width: 150px;
  font-size: 15px;
  margin: 30px auto 0 auto;
  max-height: 60vh;
  overflow: hidden;
}

.popup__close {
  position: fixed;
  z-index: 9;
  color: #fff;
  font-weight: 900;
  font-size: 40px;
  padding: 5px;
  right: 50px;
  top: 10px;
  cursor: pointer;
}

.auth {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__btn {
  width: 300px;
  height: 80px;
  font-size: 25px;
  text-transform: uppercase;
  font-family: Gilroy;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
  background: rgba(0,0,0,1);
  color: #fff;
  border: 0;
  border-radius: 20px;
}
.auth__btn:hover {
 opacity: .9; 
}

.feed__originalUrl {
  text-align: center;
  margin: 10px auto;
  display: block;
  width: fit-content;
  font-size: 14px;
  color: #000;
}

.popup__originalUrl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 9;
    padding: 5px;
    border-radius: 7px;
  color: #000;
  background: rgba(255, 255, 255, .5);
  font-size: 12px;
}
.popup__originalUrl:hover, .feed__originalUrl:hover {
    text-decoration: none;
}

.NotFound {
  text-align: center;
  margin-top: 40vh;
}

@media (max-width: 1200px) {
  .popup__close {
    right: 20px;
    font-size: 30px;
  }
  .feed__author br {
    display: none;
  }
  .feed__author div {
    margin: 0;
    font-size: 16px;
  }
  .feed__author, .feed__author a{
    font-size: 16px;
  }
}

@media (max-width: 1023px) {
  .popup__close {
    top: 0;
    right: 0;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
  }
  .popup__flex {
    flex-wrap: wrap;
    padding-top: 30px;
  }
  .popup__img {
    width: 100%;
    height: initial;
  }
  .popup__self {
    padding: 10px;
    overflow: auto;
    width: 100%;
  }
  .popup {
    padding-top: 0;
    overflow: auto;
  }
  .popup__bottom {
    position: static;
    width: 100%;
    height: initial;
  }
  .popup__likes {
    padding: 10px 0;
  }
  .popup__author {
    display: flex;
    width: 100%;
    margin: 0 0 10px 0;
    flex-wrap: wrap;
    justify-content: center;
  }
  .popup__author-img {
   width: 120px;
   height: 120px;
   margin: 0 0 20px 0;
  }
  .popup__texts {
    display: flex;
    width: calc(100% - 75px);
    align-items: center;
  }
  .popup__descr {
    margin: 0 0 0 auto;
    max-width: 55%;
  }
  .popup__author-link {
    font-size: 16px;
  }
  .popup__author-link div {
    margin: 0;
  }
  .popup__date {
    font-size: 16px;
}
  .feed__author, .feed__date {
    text-align: center;
  }
  .popup__author-link a {
    margin-top: 0;
    font-size: 16px;
  }
  .header__auth-center, .header__auth:last-child {
    display: none;
  }
  .header__auth:first-child {
    width: 100%;
     display: flex;
     padding: 15px;
  }
  .header__auth-photo {
     max-width: 130px;
     max-height: 130px;
     min-width: 130px;
     min-height: 130px;
  }
  .header .container, .footer .container {
    padding: 0;
  }
  .header__texts {
    margin-left: 30px;
  }
  .header__auth-text {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .feed__card {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  .feed__left {
    min-width: initial;
    width: 100%;
    border: 0;
    margin-right: 0;
    display: flex;
    text-align: left;
    align-items: center;
  }
  .feed__right {
    width: 100%;
  }
  .feed__avatar {
    width: 75px;
  }
  .feed__texts {
     margin-left: auto;
  }
  .feed__photo {
    margin-right: 0;
    height: 250px;
  }
  .feed__likes-q {
    font-size: 15px;
  }
  .feed__likes button {
    width: 20px;
    height: 18px;
    margin-right: 10px;
  }
  .feed__title {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .footer__links {
    display: block;
    font-size: 18px;
  }
  .footer__links a {
    width: 100%;
  }
  .popup__self {
    height: fit-content;
  }
}

.getTransp {
  opacity: .4;
}

.fadeOut {
  animation: fadeOut .3s ease-out;
}

@keyframes fadeIn {
  0% {
      opacity: .5;
  }
  100% {
      opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: .75;
  }
}